@import "./variable";

.btn-div {


    button {
        color: white;
        margin-top: 5px;
        border-radius: 5px;
        margin-bottom: 5px;
    }


    &-small {
        background-color: $lightGreen;
    }

    &--large {
        background-color: $darkGreen;
    }

}

// <button className='btn-div-small'>Small</button>
// <button className='btn-div--large'>Large</button>