*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-image: url(https://wallpapercave.com/wp/wp4923802.jpg);
    background-size: cover;
    object-fit: cover;
    background-size: 100%;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.player-card {
    height: 400px;
    max-width: 280px;
    min-width: 230px;
}

.player-card:hover {
    box-shadow: 3px 3px 20px 5px rgba(253, 252, 252, 0.5);
}

.player-logo{
    height: 350px;
    transition: transform 0.2s;
    object-fit: cover;
}

.player-card:hover .player-logo {
    transform: scale(0.95);
}